@font-face {
  font-family: "Nippo";
  src: url("../assets/fonts/Nippo-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "DarkerGrotesque";
  src: url("../assets/fonts/DarkerGrotesque-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont.ttf") format("truetype");
}
