@import url("fonts.css");
@import "./btn.scss";
@import "./InputNumber.scss";
@import "./Swap.scss";

:root {
  font-family: Nippo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* remove when making dark mode */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  
}

.nav{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 5;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
